numpy
Pillow
scipy
six
termcolor
tqdm
msgpack
msgpack-numpy
psutil
jinja2
pyyaml
requests
tornado
beautifulsoup4
imageio
sklearn
matplotlib
prettytable
opencv-python
antvis
qiniu
pycocotools
addict
yapf
timer
thop
torch
torchvision
imagesize
multipart
fastapi
tfrecord
GitPython
protobuf==3.20.0