numpy<=1.23.0
Pillow
scipy
six
termcolor
tqdm
msgpack
msgpack-numpy
psutil
jinja2
pyyaml
requests
tornado
beautifulsoup4
imageio
scikit-learn
matplotlib
prettytable
opencv-contrib-python
antviscli@git+https://github.com/jianzfb/antvis-cli.git@master
qiniu
pycocotools
addict
yapf
timer
thop
torch
torchvision
imagesize
tfrecord
GitPython
protobuf==5.28.3
chumpy
onnx==1.17.0
onnxruntime-gpu==1.19.2
pandas
aligo
python-multipart
fastapi
uvicorn
httpx
portalocker
filelock
scikit-image
pika
xtcocotools
pyngrok
itsdangerous
grpcio-tools==1.67.0