numpy<=1.23.0
Pillow
scipy
six
termcolor
tqdm
msgpack
msgpack-numpy
psutil
jinja2
pyyaml
requests
tornado
beautifulsoup4
imageio
scikit-learn
matplotlib
prettytable
opencv-contrib-python
antvis
qiniu
pycocotools==2.0.2
addict
yapf
timer
thop
torch
torchvision
imagesize
tfrecord
GitPython
protobuf==3.20.0
chumpy
onnx
onnxruntime
pandas
aligo
python-multipart
fastapi
uvicorn
httpx
portalocker