<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众包盲评-{{task['title']}}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    String.prototype.replaceAll = function(exp, newStr){
        return this.replace(new RegExp(exp, 'gm'), newStr)
    };
    /**
     * 原型：字符串格式化
     * @param args 格式化参数值
     */
    String.prototype.format = function(args) {
        var result = this;
        if (arguments.length < 1) {
            return result;
        }

        var data = arguments; // 如果模板参数是数组
        if (arguments.length == 1 && typeof (args) == "object") {
            // 如果模板参数是对象
            data = args;
        }
        for ( var key in data) {
            var value = data[key];
            if (undefined != value) {
                result = result.replaceAll("\\{" + key + "\\}", value);
            }
        }
        return result;
    };
    String.prototype.startwith=function(str){
      var reg=new RegExp("^"+str);
      return reg.test(this);
    }

    String.prototype.endwith=function(str){
      var reg=new RegExp(str+"$");
      return reg.test(this);
    }

    var shuffle = function(v){
        for(var j, x, i = v.length; i; j = parseInt(Math.random() * i), x = v[--i], v[i] = v[j], v[j] = x);
        return v;
    };


    function LayoutTable(id, rows, cols){
        var layout_table = {};
        var _id = id;
        var _rows = rows;
        var _cols = cols;

        layout_table.append = function (r,c,node) {
            var cell_id = 'table-{id}-{r}{c}'.format({id: _id, r: r, c: c});
            // 1.step clear
            $('#'+cell_id).empty();
            // 2.step append
            $('#'+cell_id).append(node);
        }
        layout_table.text = function (r, c, text){
            var cell_id = 'table-{id}-{r}{c}'.format({id: _id, r: r, c: c});
            $('#'+cell_id).text(text);
        }

        layout_table.create = function(container) {
            var table_div = $('<div id="{id}-layout"></div>'.format({id: _id}));
            var table_div_body = $('<table class="table table-bordered"></table>');

            var table_bbody = $('<tbody id="table-{id}"></tbody>'.format({id: _id}));
            for (var r = 0; r < _rows; ++r) {
                var item = $('<tr></tr>');
                for (var c = 0; c < _cols; ++c) {
                    item.append('<td id="table-{id}-{r}{c}" style="text-align: center;"></td>'.format({id: id, r: r, c: c}));
                }

                table_bbody.append(item);
            }

            table_div_body.append(table_bbody);
            table_div.append(table_div_body);

            container.append(table_div)
        }

        return layout_table
    }

    var is_user_submit_modal_open = 0;
    function waiting_triger(){
        $('#user_submit_modal').modal({backdrop: 'static', keyboard: false})
        is_user_submit_modal_open = 1;
    }

    var query_content_html = '{% raw task["query_html"] %}';
    var query_content_js = '{% raw task["query_js"] %}';
    var is_random_layout = {{ task["is_random_layout"] }};

    var response_data = null;
    var query_index = -1;
    var waiting_timer = null;
    $(document).ready(function(){
        // 1.step render complete crowdsource page
        $.post('crowdsource/render', {}, function(data){
            data = eval('('+data+')')
            response_data = data
            response_type=response_data['TYPE']
            response_content = response_data['RESPONSE']
            if (response_type == 'SELECT'){
                var html_template = $('<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" id="select_list" data-toggle="dropdown">{item}<span class="caret"></span></button></div>'.format({item: response_content[0]}))
                var select_group_template = $('<ul class="dropdown-menu" aria-labelledby="select_list"></ul>')
                var select_item_template = '<li><a href="#">{item}</a></li>'
                for(var k in response_content){
                    select_item = select_item_template.format({item: response_content[k]})
                    select_group_template.append(select_item)
                }
                html_template.append(select_group_template)
                $('#query_measure').append(html_template)

                var html_template = $('<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" id="select_list" data-toggle="dropdown">{item}<span class="caret"></span></button></div>'.format({item: response_content[0]}))
                var select_group_template = $('<ul class="dropdown-menu" aria-labelledby="select_list"></ul>')
                var select_item_template = '<li><a href="#">{item}</a></li>'
                for(var k in response_content){
                    select_item = select_item_template.format({item: response_content[k]})
                    select_group_template.append(select_item)
                }
                html_template.append(select_group_template)
                $('#query_measure_model').append(html_template)

                // initialize
                $('#hidden_content').text(response_content[0])
            }
            }).done(function(){
              // click event
              $(function(){
                $(".dropdown-menu li a").click(function(){
                   var id = $(this).parent().parent().attr('aria-labelledby');
                   $('#'+id + ':first-child').html('{content}<span class="caret"></span>'.format({content: $(this).text()}))
                   $('#hidden_content').text($(this).text())
                })
              })
            })

        // 2.step render query content and groundtruth content
        if(query_content_html != '') {
          $('#custom_task_block').append(query_content_html)
        }

        // 3.step start first query
        var start_query_data={'QUERY': 'START'}
        $.post('crowdsource/query', start_query_data, function(data){
            var data_obj = eval('('+data+')');
            // is stop
            if(data_obj['PAGE_STATUS'] == 'STOP'){
                $('#stop_modal').modal({backdrop: 'static', keyboard: false});
                return;
            }

            // user evaluation page
            var page_data = data_obj['PAGE_DATA'];
            if(query_content_html == ''){
              // query content html not finished
              var query_content_table = LayoutTable('query_content_layout', 1, Object.keys(page_data).length);
              query_content_table.create($('#custom_task_block'))
              var count = 0;
              for(var k in page_data){
                var data = page_data[k];
                var data_content = data['DATA'];
                var data_type = data['TYPE'];

                if(data_type == 'TEXT'){
                   query_content_table.append(0,count,'<p id="{k}"></p>'.format({k: k}))
                }
                else if(data_type == 'IMAGE'){
                  query_content_table.append(0,count,'<img id="{k}">'.format({k: k}))
                }
                else if(data_type == 'SOUND'){
                }
                count += 1
              }
            }

            // fill query data
            query_index = data_obj['QUERY_INDEX'];
            for(var k in page_data){
               var data = page_data[k];
               var data_content = data['DATA'];
               var data_type = data['TYPE'];

               if(data_type == 'TEXT'){
                 $('#'+k).text(data_content);
               }
               else if(data_type == 'IMAGE'){
                 $('#'+k).attr('src', '/static/'+data_content, alt=k);
               }
               else if(data_type == 'SOUND'){
               }
            }
            var waiting_time = data_obj['WAITING_TIME'] * 1000;
            var remained_num = data_obj['REMAINED_NUM'];

            var process_str = 'PROCESS: {now}/{total}'.format({now: query_index.toString(), total: (query_index + remained_num + 1).toString()})
            $('#query_status').text(process_str)

            if( waiting_time > 0){
              // set waiting time
              waiting_timer = setTimeout('waiting_triger()', waiting_time);
            }
        })


        /*************************************************************
        ******          user submit click response              ******
        **************************************************************/
        $('button[name=user_submit]').each(function(){
            $(this).on('click', function(){
                if(waiting_timer != null){
                    clearTimeout(waiting_timer);
                    waiting_timer = null;
                }

                var response_type=response_data['TYPE']
                var response_content = response_data['RESPONSE']

                var user_response_data = {}
                user_response_data['QUERY_STATUS'] = ''
                user_response_data['QUERY'] = 'NEXT'
                user_response_data['QUERY_INDEX'] = query_index
	            user_response_data['CLIENT_RESPONSE_WORKSITE'] = $('#custom_task_block').html()
                if(response_type == 'SELECT'){
                    user_response_data['CLIENT_RESPONSE_CONCLUSION'] = $('#hidden_content').text()
                }
                else if(response_type == 'RANK'){
                }
                else if(response_type == 'SCORE'){
                }

                $.post('crowdsource/query', user_response_data, function(data){
                    // clear modal (if existed)
                    if(is_user_submit_modal_open){
                        $('#user_submit_modal').modal('toggle')
                        is_user_submit_modal_open = 0;
                    }

                    var data_obj = eval('('+data+')');
                    if(data_obj['PAGE_STATUS'] == 'STOP'){
                        $('#stop_modal').modal({backdrop: 'static', keyboard: false});
                        return;
                    }

                    if(data_obj['PAGE_STATUS'] == 'GROUNDTRUTH'){
                        $('#user_response_modal').modal({backdrop: 'static', keyboard: false})

                        // render user_response_modal
                        $('#user_response_groundtruth').empty()
                        var page_data = data_obj['PAGE_DATA'];

                        var elem_num = 0;
                        for(var k in page_data){
                            elem_num += 1;
                        }
                        var worksite = $('#custom_task_block').html()
                        $('#user_response_groundtruth').append(worksite)

                        var layout = LayoutTable('layout',1, elem_num);
                        layout.create($('#user_response_groundtruth'));

                        var count = 0;
                        for(var k in page_data){
                           if(k.startwith('CUSTOM')){
                             var data = page_data[k];
                             var data_content = data['DATA'];
                             var data_type = data['TYPE'];

                             if(data_type == 'TEXT'){
                               layout.append(0,count, "<p>{v}</p>".format({v: data_content}))
                             }
                             else if(data_type == 'IMAGE'){
                               layout.append(0,count, '<img src="/static/{v}">'.format({v: data_content}))
                             }
                             else if(data_type == 'SOUND'){
                             }
                           }
                        }
                        return;
                    }

                    var page_data = data_obj['PAGE_DATA'];
                    // random layout among page data
                    var rr = Math.random()
                    if(rr > 0.5 && is_random_layout){
                        // random layout
                        var elem_nodes = [];
                        var elem_nodes_parent = [];
                        for(var k in page_data){
                            elem_nodes.push($('#'+k))
                            elem_nodes_parent.push($('#'+k).parent())
                        }

                        // shuffle layout
                        // 1.step clear parent content
                        for(var p in elem_nodes_parent){
                            elem_nodes_parent[p].empty();
                        }

                        // 2.step shuffle
                        elem_nodes = shuffle(elem_nodes)
                        // 3.step layout
                        for(var p in elem_nodes_parent){
                            elem_nodes_parent[p].append(elem_nodes[p])
                        }
                    }

                    query_index = data_obj['QUERY_INDEX'];
                    for(var k in page_data){
                       var data = page_data[k];
                       var data_content = data['DATA'];
                       var data_type = data['TYPE'];

                       if(data_type == 'TEXT'){
                         $('#'+k).text(data_content);
                       }
                       else if(data_type == 'IMAGE'){
                         $('#'+k).attr('src', '/static/'+data_content, alt=k);
                       }
                       else if(data_type == 'SOUND'){
                       }
                    }
                    var waiting_time = data_obj['WAITING_TIME'] * 1000;
                    var remained_num = data_obj['REMAINED_NUM'];

                    var process_str = 'PROCESS: {now}/{total}'.format({now: query_index.toString(), total: (query_index + remained_num + 1).toString()})
                    $('#query_status').text(process_str)

                    if( waiting_time > 0){
                      // clear timer
                      if(waiting_timer != null){
                        clearTimeout(waiting_timer);
                      }
                      // set waiting time
                      waiting_timer = setTimeout('waiting_triger()', waiting_time);
                    }
                })
            })
        })

        /*************************************************************
        ******          user close echo response                ******
        **************************************************************/
        $('#CLOSE_ECHO').on('click', function(){
            // clear echo dialog
            $('#user_response_groundtruth').empty()
            $('#user_response_modal').modal('toggle')

            // query server
            query_data = {}
            query_data['QUERY_STATUS'] = 'CLOSE_ECHO'
            query_data['QUERY'] = 'NEXT'
            query_data['QUERY_INDEX'] = query_index

            $.post('crowdsource/query', query_data, function(data){
                var data_obj = eval('('+data+')');

                var page_data = data_obj['PAGE_DATA'];
                // random layout among page data
                var rr = Math.random()
                if(rr > 0.5 && is_random_layout){
                    // random layout
                    var elem_nodes = [];
                    var elem_nodes_parent = [];
                    for(var k in page_data){
                        elem_nodes.push($('#'+k))
                        elem_nodes_parent.push($('#'+k).parent())
                    }

                    // shuffle layout
                    // 1.step clear parent content
                    for(var p in elem_nodes_parent){
                        elem_nodes_parent[p].empty();
                    }

                    // 2.step shuffle
                    elem_nodes = shuffle(elem_nodes)
                    // 3.step layout
                    for(var p in elem_nodes_parent){
                        elem_nodes_parent[p].append(elem_nodes[p])
                    }
                }

                query_index = data_obj['QUERY_INDEX'];
                for(var k in page_data){
                   var data = page_data[k];
                   var data_content = data['DATA'];
                   var data_type = data['TYPE'];

                   if(data_type == 'TEXT'){
                     $('#'+k).text(data_content);
                   }
                   else if(data_type == 'IMAGE'){
                     $('#'+k).attr('src', '/static/'+data_content, alt=k);
                   }
                   else if(data_type == 'SOUND'){
                   }
                }
                var waiting_time = data_obj['WAITING_TIME'] * 1000;
                var remained_num = data_obj['REMAINED_NUM'];

                var process_str = 'PROCESS: {now}/{total}'.format({now: query_index.toString(), total: (query_index + remained_num + 1).toString()})
                $('#query_status').text(process_str)

                if( waiting_time > 0){
                  // clear timer
                  if(waiting_timer != null){
                    clearTimeout(waiting_timer);
                  }
                  // set waiting time
                  waiting_timer = setTimeout('waiting_triger()', waiting_time);
                }
            })
        })
    })
    </script>
    <style>
    </style>
</head>
<body>
<div class="container">
	<div class="jumbotron">
      <h1>Hello, MLTalker Contributer!</h1>
      <p>{{task["content"]}}</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
    </div>
    <div id="user_submit_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>What's Your Response?</h3>
                </div>
                <div class="modal-body">
                    <div id="query_measure_model">User Response: </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"  type="button" name="user_submit">NEXT</button>
                </div>
            </div>
        </div>
    </div>
    <div id="user_response_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>GROUNDTRUTH</h3>
                </div>
                <div class="modal-body" id="user_response_groundtruth" style="zoom:0.3">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"  type="button" id="CLOSE_ECHO">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    <div id="stop_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>STOP</h3>
                </div>
                <div class="modal-body">
                    Your Evaluation Task Has been Finished!
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success"  role="button" href="http://www.mltalker.com">EXIT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info" id="query_block">
        <div class="panel-heading" id="query_title" style="height: 40px">
            <p style="float:right" id="query_status"></p>
        </div>
        <div class="panel-body" id="custom_task_block">

        </div>
        <hr>
        <div class="row" id="query_response_block">
            <div class="col-lg-8">
            <div id="query_measure">User Response: </div>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-success" type="button" style="float: right" name="user_submit">NEXT</button>
          </div>
          <p hidden id="hidden_content"></p>
        </div>
    </div>
</div>
</body>
</html>